html,
body,
#page-wrapper {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.sideMenu {
    position: absolute;
    width: 60px;
    height: 500px;
    margin-top: 25px;
    margin-left: 40px;
    backdrop-filter: blur(20px);
    align-content: center;
    border-radius: 10px;
    border-color: rgb(35, 35, 35);
    border: 2px solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.contentMenu {
    position: absolute;
    width: calc(100% - 180px);
    height: 500px;
    margin-top: 25px;
    margin-left: 140px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border-color: rgb(35, 35, 35);
    border: 2px solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.newProfileScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 2;
}

.settingsScreen {
    position: absolute;
    width: 100%;
    height: 100%;
}